parameters:
  level: 7
  paths:
    - src
  parallel:
    maximumNumberOfProcesses: 6
  phpVersion: 80200
  ignoreErrors:
    - '#Property [a-zA-Z0-9\\_]+::\$.* is never written, only read.#'
    - '#Static property [a-zA-Z0-9\\_]+::\$.* is never written, only read.#'
  stubFiles:
    - src/Stubs/Collection.stub
    - src/Stubs/Enumerable.stub
    - src/Stubs/Arrayable.stub
    - src/Stubs/ContrArrayable.stub
    - src/Stubs/Jsonable.stub
    - src/Stubs/CanBeEscapedWhenCastToString.stub
  sfpPsrLog:
    enableMessageStaticStringRule: true
    enableContextRequireExceptionKeyRule: true
    reportContextExceptionLogLevel: 'info'
    contextKeyOriginalPattern: '#\A[A-Za-z0-9-_]+\z#'
includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/nadyita/phpstan-amp-file-rule/phpstan-amp-file-rule.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    - vendor/struggle-for-php/sfp-phpstan-psr-log/rules.neon
