parameters:
  reportMaybesInPropertyPhpDocTypes: false
  level: 7
  paths:
    - src
  parallel:
    maximumNumberOfProcesses: 6
  phpVersion: 80200
  ignoreErrors:
    - '#Property [a-zA-Z0-9\\_]+::\$.* is never written, only read.#'
    - '#Static property [a-zA-Z0-9\\_]+::\$.* is never written, only read.#'
  stubFiles:
    - Stubs/Collection.php
    - Stubs/Enumerable.stub
    - Stubs/Arrayable.stub
    - Stubs/ContrArrayable.stub
    - Stubs/Jsonable.stub
    - Stubs/CanBeEscapedWhenCastToString.stub
  sfpPsrLog:
    enableMessageStaticStringRule: true
    enableContextRequireExceptionKeyRule: true
    reportContextExceptionLogLevel: 'info'
    contextKeyOriginalPattern: '#\A[A-Za-z0-9-_]+\z#'
  strictRules:
    allRules: false
    disallowedLooseComparison: true
    booleansInConditions: false
    uselessCast: false
    requireParentConstructorCall: false
    disallowedConstructs: true
    overwriteVariablesWithLoop: true
    closureUsesThis: false
    matchingInheritedMethodNames: true
    numericOperandsInArithmeticOperators: false
    strictCalls: true
    switchConditionsMatchingType: false
    noVariableVariables: false
    strictArrayFilter: true
includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/nadyita/phpstan-amp-file-rule/phpstan-amp-file-rule.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    - vendor/struggle-for-php/sfp-phpstan-psr-log/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
